.hero
  &__subtitle
    color: $second
    text-transform: uppercase
    position: relative
    width: max-content
    &:after
      content: ''
      display: block
      position: absolute
      right: -.75rem
      top: 0
      width: .5rem
      height: .5rem
      border-radius: 50%
      background-color: $green